
<!DOCTYPE html>
{% load staticfiles %}

<html>
<title>Admin Home</title>
<head>
</head>
<!--<script src="{% static 'css/css1.css' %}"></script>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<script src=" https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



<script  src="{% static 'js/index.js' %}"></script>
<header style="width:100%;">
<div class="container" style="width:100%;padding:0; margin-left:0;max-width: 100%;">
  <div class="jumbotron" style="background-color:#26C1DE;padding-left:0;width:100%;">

    <h1 style="padding-top:-33px; font-size: 2.5rem;color:#FFFFFF;margin-left:2%">Support System</h1>
      <span class="psw" style="color:##FFFFFF; margin-left:85%"><a href="/ticket/adminlogout/" style="padding-left:2%"> LOGOUT</a></span>
      <!--<p>Support System</p>-->
  </div>
</div>

</header>


<script>
	var username='{{username}}'
</script>


<body style="font-size: 1.4rem;">
<span id="username" style="display: none;">{{username}}</span>
<span id="id" style="display: none;">{{contxt.id}}</span>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Open Ticket</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Close Ticket</a></li>
<!--                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section 3</a></li>-->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                      <div class="card" style="width:180%;">
                        <div class="card-body">
                            <!--<input type="hidden" id="ticket_id2"/>-->
                          <!--<table id="customers" style="border-spacing: 5px; padding-7px;text-align:center" border="1px">-->
	                        <!--<thead>-->
                              <!--<tr style=" background-color:#79aec8; margin-left: 300px;">-->
                                <!--<th>Ticket ID</th>-->
	                            <!--<th>Category</th>-->
                                <!--<th>Subject</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>Created Date</th>-->
                                <!--<th>Close Ticket</th>-->
                              <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody name="customer">-->
                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Ticket ID 1</td>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Laptop</td>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Damange</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>Open</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                          <!--</tbody>-->
                          <!--</table>-->
                        <!--</div>-->
                      <!--</div>  -->
<!--    -->
<!--                    </div>-->
<!--                    <div role="tabpanel" class="tab-pane fade" id="Section2">-->
<!--                        <div class="card">-->
                        <!--<div class="card-body">-->
                          <!--<table id="ticket" style="border-spacing: 5px; padding-7px;text-align:center;" border="1px">-->
	                        <!--<thead>-->
                              <!--<tr style=" background-color:#79aec8; margin-left: 300px;">-->
                                <!--<th>Ticket ID</th>-->
	                            <!--<th>Category</th>-->
                                <!--<th>Subject</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>Created Date</th>-->
                              <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody name="ticket">-->

                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Ticket ID 1</td>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Laptop</td>&ndash;&gt;-->
                              <!--&lt;!&ndash;<td>Damange</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>Open</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                          <!--</tbody>-->
                          <!--</table>-->
                            <input type="hidden" id="ticket_id2"/>
                            <table id="table1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Close Ticket</th>
            </tr>
        </thead>
        <tbody id="customers" style="text-align:center;">
            <!--<tr>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->
        </tbody>
                        </table>
                        </div>
                      </div>  
    
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div class="card" style="width:180%;">
                        <div class="card-body" style="text-align:center";>
                          <input type="hidden">
                            <table id="table2" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody id="ticket">
            <!--<tr>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
            <!--</tr>-->
        </tbody>
                        </table>
                        </div>
                      </div> 
                    </div>
<!--                    <div role="tabpanel" class="tab-pane fade" id="Section3">-->
<!--                        <h3>Section 3</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="padding: 30px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ticket ID: <span id="ticket_id1"></span></h4>

        </div>
        <div class="moholder">
      <div class="row">
      <div class="col-25">
        <label for="comment">Comment</label>
      </div>
      <div class="col-75">
        <textarea id="comment" name="comment" placeholder="Write something.." style="height:70px;width:500px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Reply" onclick="reply()">
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<script src="{% static 'js/adminhome.js' %} "></script>
<script src="{% static 'js/comment.js' %} "></script>

</body>
<footer>
<div class="container" style="width:100%;padding:0; margin:0;max-width: 100%;" align="center">
  <div class="jumbotron" style="padding-top: 10px;padding-left:0;width:100%;background-color:#26C1DE; margin:0;">

    <p style="color:#fff">Copyright © 2018 Code Nicely</p>
  </div>
</div>
</footer>
</html>