<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
</head>
<script>
var email='{{Email}}'
</script>
<script src="{% static 'css/css1.css' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script  src="{% static 'js/index.js' %}"></script>
<header>

  <div class="container" style="width:100%">
  <div class="jumbotron" style="padding-top: 10px;padding-bottom: 29px;">
    <h1 style="padding-top:-33px;">Welcome {{Email}}</h1>
    <p>Support System</p>
  </div>
</div>

</header>


<body>
<button type="button"  style="margin-left:2%;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Ticket</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="padding: 30px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="moholder">
          <div class="row">
      <div class="col-25">
        <label for="ticket_id">Ticket ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="ticket_id" name="ticket_id" placeholder="Ticket ID">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="category">Category</label>
      </div>
      <div class="col-75">
        <select id="category" name="category">
          <option value="0">Low</option>
          <option value="1">Medium</option>
          <option value="2">High</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Subject" style="height:30px;width:300px"></textarea>
      </div>
    </div>

      <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="description" name="description" placeholder="Write something.." style="height:200px;width:500px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" onclick="create_ticket()">
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Section 1</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Section 2</a></li>
<!--                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section 3</a></li>-->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                      <div class="card">
                        <div class="card-body">
                          <table id="customers" style="border-spacing: 5px; padding-7px" border="1px">
	                        <thead>
                              <tr style=" background-color:#79aec8; margin-left: 300px;">
                                <th>Ticket ID</th>
	                            <th>Category</th>
                                <th>Subject</th>
                                <th>Description</th>
                              </tr>
                            </thead>
                            <tbody name="customer">
                            <!--<tr>-->
                              <!--<td>Ticket ID 1</td>-->
                              <!--<td>Laptop</td>-->
                              <!--<td>Damange</td>-->
                            <!--<td>Open</td>-->
                            <!--</tr>-->
                          </tbody>
                          </table>
                        </div>
                      </div>  
    
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div class="card">
                        <div class="card-body">
                          <table id="ticket" style="border-spacing: 5px; padding-7px" border="1px">
	                        <thead>
                              <tr style=" background-color:#79aec8; margin-left: 300px;">
                                <th>Ticket ID</th>
	                            <th>Category</th>
                                <th>Subject</th>
                                <th>Description</th>
                              </tr>
                            </thead>
                            <tbody name="ticket">
                            <!--<tr>-->
                              <!--<td>Ticket ID 1</td>-->
                              <!--<td>Laptop</td>-->
                              <!--<td>Damange</td>-->
                            <!--<td>Open</td>-->
                            <!--</tr>-->
                          </tbody>
                          </table>
                        </div>
                      </div> 
                    </div>
<!--                    <div role="tabpanel" class="tab-pane fade" id="Section3">-->
<!--                        <h3>Section 3</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/userhome.js' %} "></script>
<script src="{% static 'js/create_ticket.js' %} "></script>

</body>
<footer>

  <div class="container" style="width:100%" align="center">
  <div class="jumbotron" style="padding-top: 10px;padding-bottom: 29px;">
    <p>Thanks for your visit</p>
  </div>
</div>

</footer>
</html>
